.contact-row {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-col {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 2rem 2rem;
    align-items: center;
    &-text {
      margin-bottom: 2rem;
    }
    &-icon {
      margin-right: 1rem;
    }
  }
  &-img {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-image: url('../../images/contact-img.jpeg');
    &-items {
      &-form {
        display: flex;
        align-content: center;
        flex-direction: column;
        padding: 2rem 10rem;
        &__input {
          margin-bottom: 1rem;
        }
        &__submit {
          background-color: #77c5ef;
          border-color: #77c5ef;
          width: 45%;
        }
      }
    }
  }
}
@media (max-width: 685px) {
  .contact-row-img-items-form {
    padding: 2rem;
  }
}
@media (min-width: 425px) {
  .col,
  .col-lg-6,
  .col-sm-12,
  .row {
    padding-left: 0;
    padding-right: 0;
  }
}
